<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/main.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">UEntrega</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div style="min-width:300px;padding: 10px;">
                        <form action="/auth" method="post">
                            <div class="form-group">
                              <label for="exampleInputEmail1">E-Mail</label>
                              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o seu e-mail">
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Senha</label>
                              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite a sua senha">
                            </div>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Lembre-se de mim
                              </label>
                            </div>
                            <button type="submit" class="btn-block btn btn-primary">Login</button>
                          </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <% if (validation.length > 0){ %>
            <div class="alert alert-danger">
                <strong>Atenção!</strong>
                <ul>
                    <% for (var i = 0; i < validation.length; i++) { %>
                        <li><%=validation[i].msg%></li>
                    <% } %>
                </ul>
            </div>
        <% } %>
        <div class="row">
            <div class="col-sm center-block" style="padding-top:12%;">
                <h1 class="text-center" >Seja um usuário</h1>
                <h3 class="text-center">e pare de se preocupar com entregas!</h3>
                    <button type="button" id="btn_cadastrar" class="btn-block btn btn-primary">Se cadastre como um usuário</button>
            </div>
            <div class="col-sm center-block" style="padding-top:12%; background-color:#0050AA">
                <h1 class="text-center" style="color:aliceblue">Seja um entregador</h1>
                <h3 class="text-center" style="color:aliceblue">e ganhe dinheiro no seu tempo livre!</h3>
                <button type="button" id="btn_cadastrar_entregador" class="btn-block btn btn-primary">Se cadastre como um entregador!</button>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('#btn_cadastrar').on("click", function(){
                window.location.href = '/signup';
            });
            $('#btn_cadastrar_entregador').on("click", function(){
                window.location.href = '/signup_entregador';
            });
        });
    </script>
</body>
</html>