<!doctype html>
<html lang="en">
  <head>
    <title>UEntrega</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">UEntrega</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bem vindo, <%=session.name%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> 
                        <div style="min-width:300px;">
                        <button id="btn_logout" type="button" class="btn btn-primary btn-block">Sair</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="bgz">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm" style="padding-top:5%;">
                <h1 class="text-center">Deseja fazer uma entrega?</h1>
                <div id="containerEnt">
                <form>
                    <button type="button" id="readyEntregador" class="btn btn-primary btn-block" data-email="<%=session.email%>">Estou pronto!</button>
                </form>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
            $(document).ready( function(){
                $('#btn_logout').on("click", function(){
                    window.location.href = '/logout';
                });
            })
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io('http://localhost:3000');
        var email = $(readyEntregador).attr('data-email');
        var aux = 'call'+email;
        console.log(aux);
        
        $('#readyEntregador').on("click", function(){
            console.log("click");
            $(event.target).attr("disabled", true);
            socket.emit(
                'entregadorPronto',
                email
            );
        });
        socket.on(aux, function(data){
            var aux = '';
            aux += '<div> <h4 class="text-center" id="emailCli">'+data.email+'</h4> <br> <h5 class="text-center">Partida: '+data.end1+'</h5><br><h5 class="text-center">Chegada: '+data.end2+'</h5><br><button type="button" class="btn-block btn btn-primary" id="entregadorChegou">Cheguei no endereço</button> <button id="entregadorCancelou" type="button" class="btn btn-primary btn-block">Cancelar viagem</button></div> <div id="containerEntConf"></div>';
            $('#containerEnt').append(aux);
        });
        
        socket.on('confirmEntregador', function(data){
            var aux = '';
            aux += '<div> <h4 class="text-center" id="emailCli">'+data.email+'</h4> <br> <h5 class="text-center">Partida: '+data.end1+'</h5><br><h5 class="text-center">Chegada: '+data.end2+'</h5><br><button type="button" class="btn-block btn btn-primary" id="entregadorChegou">Cheguei no endereço</button> <button id="entregadorCancelou" type="button" class="btn btn-primary btn-block">Cancelar viagem</button></div> <div id="containerEntConf"></div>';
            $('#containerEnt').append(aux);
        });
        aux = 'confirm'+email;
        socket.on(aux, function(data){
            var aux = '<br><div><h6 class="text-center">Dirija-se ao destino</h6><button type="button" class="btn-block btn btn-primary" id="entregadorEntregou">Cheguei no destino</button><button id="entregadorCancelouEntrega" type="button" class="btn-block btn btn-primary">Cancelar viagem</button></div></div>'
            $('#containerEntConf').append(aux);
        });
        aux = 'confirmatudo'+email;
        socket.on(aux, function(data){
            alert("O cliente concluiu com sucesso a entrega.");
            $('#containerEnt').empty();
            var s = '<div><h6 class="text-center">Você completou o seu pedido!</h6></div>'
            $('#containerEnt').append(s);
        });
        aux = 'clienteCancelou'+email;
        socket.on(aux, function(data){
            alert("O cliente cancelou a entrega.");
            $('#containerEnt').empty();
            var s = '<div><h6 class="text-center">Pedido cancelado pelo cliente!</h6></div>'
            $('#containerEnt').append(s);
        });
        $('body').delegate("#entregadorChegou","click", function(){
            var emailcli = $('#emailCli').text();
            socket.emit(
                'entregadorChegou',
                emailcli
            );
            $('#entregadorCancelou').attr("disabled", true);
            $('#entregadorChegou').attr("disabled", true);
        });
        $('body').delegate("#entregadorEntregou","click", function(){
            var emailcli = $('#emailCli').text();
            socket.emit(
                'entregadorEntregou',
                emailcli
            );
            $('#entregadorCancelouEntrega').attr("disabled", true);
            $('#entregadorEntregou').attr("disabled", true);
        });

        $('body').delegate("#entregadorCancelouEntrega","click", function(){
            var emailcli = $('#emailCli').text();
            $('#containerEnt').empty();
            var s = '<div><h6 class="text-center">Você cancelou o seu pedido!</h6></div>';
            $('#containerEnt').append(s);
            socket.emit(
                'entregadorCancela',
                emailcli
            );
        });
        $('body').delegate("#entregadorCancelou","click", function(){
            var emailcli = $('#emailCli').text();
            $('#containerEnt').empty();
            var s = '<div><h6 class="text-center">Você cancelou o seu pedido!</h6></div>';
            $('#containerEnt').append(s);
            socket.emit(
                'entregadorCancela',
                emailcli
            );
        });
        
    </script>
</body>
</html>